@page "/Upload"

@using Blazor_server_app_5.Data;
@using Blazor_server_app_5.Services;
@using BlazorInputFile;
@using System.IO;

@inherits OwningComponentBase<Imgservice>

<h3>Uploads the file to Database</h3>

<SfUploader ID="UploadFiles">
    <UploaderEvents OnUploadStart="uploadStart"></UploaderEvents>
    <UploaderAsyncSettings SaveUrl="api/SampleData/Save" RemoveUrl="api/SampleData/Remove"></UploaderAsyncSettings>
</SfUploader>

@code {


    ImgClass imgObj = new ImgClass();
    public byte[] ImgUploaded { get; set; }

    private void uploadStart(UploadingEventArgs args)
    {
        String[] splitStr = { ";base64," };
        var files = args.FileData.RawFile.ToString().Split(splitStr, 2, StringSplitOptions.RemoveEmptyEntries)[1];
        ImgUploaded = System.Convert.FromBase64String(files);    // return byte array

        imgObj.Imgid = 0;
        imgObj.Img = ImgUploaded;
        imgObj.Imgname = args.FileData.Name;
        Service.Uploadimg(imgObj);
    }

}
